* {
    color: white;
    margin: 0%;
    padding: 0%;
    text-align: center;
}

#body::before {

    content: "";
    position: absolute;
    background: url(bg2.jpg) no-repeat center center/cover;
    height: 170%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
}


#body {

    border-radius: 2px;
}

#form {
    border: 5px solid white;
    margin: 56px 95px;
    display: inline-block;
    padding: 20px;
    border-radius: 50px;

}

#title {
    margin: 4%;
    text-decoration: underline;
}

.heading {
    margin: 0%;
}

.input {
    width: 352px;
    margin: 17px;
    height: 24px;
    display: block;
    color: black;
    font-weight: bold;
}

.btn {
    margin-top: 12px;
    color: black;
    background: white;
    border-radius: 17px;
    padding: 5px 50px;
    width: 193px;
    font-size: 23px;
    height: 51px;
    cursor: pointer;
    font-weight: bold;
}

 .btn :hover {
     background: brown
     ;
 }