#services {
    display: flex;
    flex-direction: column;
  
    position: relative;
    top: 150px;
    padding: 22px;
    width: 76%;
    /* left: 1px; */
    margin: 22px auto;

    }

    .box {
        border: 2px solid white;
        height: 250px;
        width: 100%;
        margin: 40px 0px;
        background-color: rgb(14 14 14);
        text-decoration: none;
    }